################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/kj
/.vs/chat/FileContentIndex
/.vs
/Project/.vs/Chat-project/v17
/Project/x64/Debug
*.user
/Project/.vs/Chat-project/v16
